@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
}
section{
  width:  100%;
  height: 100vh;
  padding: 5%;
  color: white;
}

.about_me_section{
  display: flex;
  flex-direction: column;

  .info_box{
    display: flex;
    height: 95%;

   .myFase{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    img{
      width: 50%;
    }
    }
    .text_about_me{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5%;
      padding-right: 10%;
      color: white;
      font-size: 18px;
      cursor: default;
    } 
  }
  .button_box{
   height: 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .down_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    border: 1px solid #7395AE;
    border-radius: 50%;
    background-color: #334a5b;
    transition: 0.5s;
  }
  .down_button:hover{
    transition: 0.5s;
    background-color: #7395AE;
    border: 1px solid #7395AE;
  }
}

footer{
  width: 100%;
  height: 30vh;
}