.work_info_section{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
      h1{
        margin-bottom: 40px;
      }
    .steps{
      width: 100%;
      display: flex;
      justify-content: space-between;
    
      .step_box{
        width: 20px;
        height: 20px;
        background-color: #334a5b;
        margin-right: 5px;
      }
    
      .line{
        flex-grow: 1;
        height: 5px;
        background-color: #334a5b;
        position: relative;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .info_steps_box{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      .info_step{
        width: 30%;
        /* border: 1px solid black; */
        text-align: center;
      }

      .v_line{
        width: 2px;
        background-color: #334a5b;
      }
    }

    }